// blog header starts here
.blog-header {
    @include header("scss/assets/blog-image-1.jpg");
    height: 70vh;
      h2 {
        padding-top: 20%;
      }
  }

.blogmain-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $camo;
}


// blog main starts here
article {
position: relative;
  h3 {
    padding-top: 500px;
  }
    p {
      margin-bottom: 30px;
        &:first-of-type {
          font-style: italic;
        }
    }
}

article img {
  width: 100%;
  box-shadow: 20px 20px $green;
  position: absolute;
  top: -150px;
}

.article-text {
  box-shadow: 10px 10px $green;
  width: 101.3%;
  padding-bottom: 30px;
}

.blog-flex {
  display: flex;
  flex-direction: column;
  background-color: $camo;
  width: 60%;
    span {
      font-weight: bold;
    }
}


// comment starts here
.comment {
  padding: 50px 0;
}

.comment-flex li {
  display: flex;
  margin-bottom: 40px;
    img {
      width: 50%;
      height: 120px;
      margin-right: 60px;
    }
}

.comment-flex span {
  color: $yellow;
}


// form
.post-comment {
  margin-bottom: 100px;
    textarea, button{
      width: 100%;
    }
}

.post-comment input, .post-comment textarea {
  background-color: $camo;
}


// blog aside starts here
.blog-aside {
  width: 27%;
  position: absolute;
  right: -3%;
  top: 650px;
}

.blog-aside img {
  box-shadow: -20px 20px $green;
  display: block;
  width: 90%;
}

.aside-text {
  background-color: $green;
  padding: 30px;
  margin-left: -20px;
  width: 94%;

    h4 {
      font-weight: normal;
      line-height: 58px;
      letter-spacing: 4.3px;
      color: $white;
      font-size: 4rem;
      margin: 0;
    }
}

.aside-yellow li {
  list-style-position: inside;
  list-style: disc;
  list-style-position: inside;
  color: $yellow;
    span {
      color: $white;
    }
}
