html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, p, button, input, label, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, .header-logo, button {
  font-family: 'Dokdo', cursive;
}

h1 {
  color: $yellow;
  font-size: 11rem;
  margin-top: 25px
}

h2 {
  @include h2();
  color: $yellow;
}

h3 {
  @include h3();
  color: $yellow;
}

button {
  background-color: $green;
  border: 1px solid $green;
  color: $white;
  padding: 4px 5px;
  font-size: 2rem;
}

p, li {
  font-family: 'Lato', sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: normal;
  color: $white;
}

nav {
  line-height: 29px;
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

section {
  padding: 0;
  margin: 0;
} 


// home background 
section:nth-child(odd) {
  background-color: $camo;
}

section:nth-child(even) {
  background-color: $dark;
}


// header starts here
header {
  @include header("scss/assets/home-image-1.jpg");
}

.nav-flex {
  @include center();
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: $yellow;
  font-size: 4.1rem;
}

.nav-flex ul {
  @include center();
    li {
      margin: auto 0 auto 30px;
        a {
          color: $white;
          font-size: 2rem;
          letter-spacing: 1px;
          line-height: 29px;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $yellow;
          }
        }
    }
}

.nev-flex a:nth-child(4) {
  margin-right: 0;
}


.header-flex ul {
  @include center();
  flex-wrap: nowrap;
    .header-image {
      width: 40%;
      position: relative;
      top: 100px;
        img {
          width: 100%;
        }
    }
}

.header-flex p {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}

.header-text {
  padding: 20px 50px;
  width: 60%;
  position: relative;
  top: 120px;
}


// new adventeure stars here
#new {
  padding: 150px 0 100px 0;
}

.new-flex {
  @include center();
    img {
      width: 27%;
      box-shadow: -2rem 2rem $green;
    }
}

.new-text {
  width: 65%;
  margin-right: auto;
    p {
      margin-bottom: 2%;
    }
}


// pics starts here
.pic-flex {
  @include center();
  padding: 30px 0;
    li {
      width: calc(100% - 6%) / 3;
      margin-right: 3%;
      padding: 50px 0;
        img {
          width: 100%;
        }
    }
}

.pic-flex li:nth-child(3) {
  margin-right: 0;
}


// details starts here
.detail-flex {
  @include center();
  flex-wrap: wrap;
  padding-bottom: 120px;
    li {
      width: 40%;
      margin-right: 10%;
      padding-top: 50px;
      position: relative;

        &:nth-child(2n) {
          margin-right: 0;
        }
    }
}

.detail1::before {
  @include icons("\f015");
}

.detail2::before {
  @include icons("\f0c0");
}

.detail3::before {
  @include icons("\f15b");
}

.detail4::before {
  @include icons("\f095");
}


// programs starts here
.program-flex {
  display: flex;
  flex-direction: column;
    li {
      display: flex;
      direction: row;
      
        &:nth-child(2) {
          flex-direction: row-reverse;
        }
    }
}

.contents1  img {
  width: 285%;
  transform: translate(-30%, -14%);
  box-shadow: 10px 10px $yellow;
}

.contents2 img {
  width: 328%;
  transform: translate(30%, 10%);
  box-shadow: -10px 10px $yellow;
}

.program-flex p {
  margin-bottom: 2%;
}

.contents1 h3, .contents2 h3 {
  padding-top: 40px;
}

.contents2 h3 {
  text-align: right;
}

.contents2 button[type="submit"] {
  display: block;
  margin-left: auto;
}


// free trail starts here
#free {
  text-align: center;
    img {
      width: 100%;
    }
}

.free-text {
  padding: 100px 0;
    p {
      display: flex;
      text-align: left;
      margin: 0 auto 1% auto;
      width: 94%;
    }
}


// footer starts here
footer {
  background-color: $dark;
  text-align: center;
    p {
      color: $white;
      font-size: 1.5rem;
    }
}







