@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, p, button, input, label, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, .header-logo, button {
  font-family: "Dokdo", cursive;
}

h1 {
  color: #ffc600;
  font-size: 11rem;
  margin-top: 25px;
}

h2 {
  font-family: "Dokdo", cursive;
  font-size: 10.5rem;
  font-weight: normal;
  line-height: 7rem;
  letter-spacing: 1.9rem;
  color: #ffc600;
}

h3 {
  font-family: "Dokdo", cursive;
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 5.8rem;
  letter-spacing: 0.49rem;
  color: #ffc600;
}

button {
  background-color: #555f02;
  border: 1px solid #555f02;
  color: #fafffe;
  padding: 4px 8px;
  font-size: 3rem;
  letter-spacing: 1px;
}
button:hover, button:focus {
  color: #555f02;
  background-color: #fafffe;
}

p, li {
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: normal;
  color: #fafffe;
}

nav {
  line-height: 29px;
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

section {
  padding: 0;
  margin: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  padding: 10px 20px;
  color: black;
  font-size: 2rem;
}

.skip-link:focus {
  left: 0;
}

section:nth-child(odd) {
  background-color: #1E140E;
}

section:nth-child(even) {
  background-color: #262725;
}

header {
  background-image: url("scss/assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a {
  color: #ffc600;
  font-size: 4.1rem;
}

.nav-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-flex ul li {
  margin: auto 0 auto 30px;
}
.nav-flex ul li a {
  color: #fafffe;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
}
.nav-flex ul li a:hover, .nav-flex ul li a:focus {
  color: #ffc600;
}

.nev-flex a:nth-child(4) {
  margin-right: 0;
}

.sub-menu {
  display: none;
}

.header-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header-flex ul .header-image {
  width: 40%;
  position: relative;
  top: 100px;
}
.header-flex ul .header-image img {
  width: 100%;
}

.header-flex p {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
}

.header-text {
  padding: 20px 50px;
  width: 60%;
  position: relative;
  top: 120px;
}

#new {
  padding: 150px 0 100px 0;
}

.new-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new-flex img {
  width: 27%;
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

.new-text {
  width: 65%;
  margin-right: auto;
}
.new-text p {
  margin-bottom: 2%;
}

.pic-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}
.pic-flex li {
  width: calc(100% - 6%)/3;
  margin-right: 3%;
  padding: 50px 0;
}
.pic-flex li img {
  width: 100%;
}

.pic-flex li:nth-child(3) {
  margin-right: 0;
}

.detail-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail-flex li {
  width: 47%;
  padding-top: 50px;
  position: relative;
}
.detail-flex li:nth-child(2n) {
  margin-right: 0;
}

.detail1::before {
  content: "";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  background-color: #555f02;
  border-radius: 50%;
  font-size: 2.6rem;
  color: #fafffe;
  padding: 11px 10px;
  position: absolute;
  left: -70px;
}

.detail2::before {
  content: "";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  background-color: #555f02;
  border-radius: 50%;
  font-size: 2.6rem;
  color: #fafffe;
  padding: 11px 10px;
  position: absolute;
  left: -70px;
}

.detail3::before {
  content: "";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  background-color: #555f02;
  border-radius: 50%;
  font-size: 2.6rem;
  color: #fafffe;
  padding: 11px 10px;
  position: absolute;
  left: -70px;
  padding: 11px 14px;
}

.detail4::before {
  content: "";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  background-color: #555f02;
  border-radius: 50%;
  font-size: 2.6rem;
  color: #fafffe;
  padding: 11px 10px;
  position: absolute;
  left: -70px;
  padding: 11px;
}

.program-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.program-flex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
}
.program-flex li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contents1 img {
  width: 285%;
  -webkit-transform: translate(-30%, -14%);
          transform: translate(-30%, -14%);
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
}

.contents2 img {
  width: 328%;
  -webkit-transform: translate(30%, 10%);
          transform: translate(30%, 10%);
  -webkit-box-shadow: -15px 15px #ffc600;
          box-shadow: -15px 15px #ffc600;
}

.program-flex p {
  margin-bottom: 5%;
}

.contents1 h3, .contents2 h3 {
  padding-top: 40px;
}

.contents2 h3 {
  text-align: right;
}

.contents2 button[type=submit] {
  display: block;
  margin-left: auto;
}

#free {
  text-align: center;
}
#free img {
  width: 100%;
}

.free-text {
  padding: 100px 0;
}
.free-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 0 auto 1% auto;
  width: 94%;
}

footer {
  background-color: #262725;
  text-align: center;
}
footer p {
  color: #fafffe;
  font-size: 1.5rem;
}

.blog-header {
  background-image: url("scss/assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  height: 70vh;
}
.blog-header h2 {
  padding-top: 20%;
}

.blogmain-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1E140E;
}

article {
  position: relative;
}
article h3 {
  padding-top: 500px;
}
article p {
  margin-bottom: 30px;
}
article p:first-of-type {
  font-style: italic;
}

article img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #555f02;
          box-shadow: 20px 20px #555f02;
  position: absolute;
  top: -150px;
}

.article-text {
  -webkit-box-shadow: 10px 10px #555f02;
          box-shadow: 10px 10px #555f02;
  width: 101.3%;
  padding-bottom: 30px;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1E140E;
  width: 60%;
}
.blog-flex span {
  font-weight: bold;
}

.comment {
  padding: 50px 0;
}

.comment-flex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.comment-flex li img {
  width: 50%;
  height: 120px;
  margin-right: 60px;
}

.comment-flex span {
  color: #ffc600;
}

.post-comment {
  margin-bottom: 100px;
}
.post-comment textarea, .post-comment button {
  width: 100%;
}

.post-comment input, .post-comment textarea {
  background-color: #1E140E;
}

.blog-aside {
  width: 27%;
  position: absolute;
  right: -3%;
  top: 650px;
}

.blog-aside img {
  -webkit-box-shadow: -20px 20px #555f02;
          box-shadow: -20px 20px #555f02;
  display: block;
  width: 90%;
}

.aside-text {
  background-color: #555f02;
  padding: 30px;
  margin-left: -20px;
  width: 94%;
}
.aside-text h4 {
  font-weight: normal;
  line-height: 58px;
  letter-spacing: 4.3px;
  color: #fafffe;
  font-size: 4rem;
  margin: 0;
}

.aside-yellow li {
  list-style-position: inside;
  list-style: disc;
  list-style-position: inside;
  color: #ffc600;
}
.aside-yellow li span {
  color: #fafffe;
}

.contact-header {
  background-image: url("scss/assets/contact-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  height: 50vh;
}
.contact-header h2 {
  font-size: 6.5rem;
  padding: 150px 0;
}

main {
  background-color: #1E140E;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46vh;
}

fieldset {
  background-color: #262725;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #262725;
  padding: 80px 40px 20px 40px;
  margin-right: 50px;
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
  width: 110%;
  position: relative;
  top: -100px;
  left: -8%;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  background-color: #262725;
  border: none;
  border-bottom: 1px solid #ffc600;
  padding: 20px;
  width: 45%;
  color: #fafffe;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

textarea {
  margin: 30px 0;
  height: 150px;
  background-color: #262725;
  border: 1px solid #ffc600;
  color: #fafffe;
  color: #fafffe;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 20px;
  resize: none;
}

aside {
  padding-top: 50px;
  width: 27%;
}

.sns-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sns-flex a {
  color: #ffc600;
  font-size: 2rem;
  margin-right: 20px;
}
.sns-flex a:hover, .sns-flex a:focus {
  color: #fafffe;
}

.info-flex li {
  color: #fafffe;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}
.info-flex li a {
  color: #fafffe;
  font-family: "Lato", sans-serif;
}

.info-mail {
  margin: 20px 0 25px 0;
}

.info {
  margin-bottom: 5px;
}

.contact-footer {
  height: 4vh;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 8rem;
  }

  .new-flex img {
    height: 250px;
  }
}
@media (max-width: 980px) {
  .detail-flex li {
    width: 100%;
  }

  .detail-flex h3 {
    padding-left: 80px;
  }

  .detail1::before {
    left: 0;
  }

  .detail2::before {
    left: 0;
  }

  .detail3::before {
    left: 0;
  }

  .detail4::before {
    left: 0;
  }

  .program-flex {
    padding: 50px 0;
  }

  .contents1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
  .contents1 img {
    width: 80%;
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
  }

  .program-flex li:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .program-flex li:nth-child(2) img {
    width: 80%;
    -webkit-transform: translate(2%, 0%);
            transform: translate(2%, 0%);
  }
}
@media (max-width: 780px) {
  h1 {
    font-size: 5rem;
    margin-top: 0;
  }

  .header-flex p {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .header-text {
    padding: 0 50px;
  }

  .new-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .new-flex img {
    width: 50%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-shadow: -1rem 1rem #555f02;
            box-shadow: -1rem 1rem #555f02;
  }

  .new-text {
    width: 100%;
    margin-right: 0;
    margin-top: 50px;
    text-align: center;
  }
}
@media (max-width: 660px) {
  header {
    height: 40vh;
  }

  .header-logo {
    display: none;
  }

  .nav-flex ul {
    display: none;
  }

  .sub-menu {
    display: block;
    text-align: right;
  }
  .sub-menu label {
    font-size: 3rem;
    color: #ffc600;
  }
  .sub-menu label:hover, .sub-menu label:focus {
    color: #fafffe;
  }

  .sliding-menu {
    background-color: #fafffe;
    width: 200px;
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 2;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .sliding-menu li {
    padding: 10px 20px;
    text-align: center;
  }
  .sliding-menu li a {
    color: #ffc600;
    display: inline-block;
    width: 100%;
    padding: 20px;
  }
  .sliding-menu li a:hover, .sliding-menu li a:focus {
    background-color: #555f02;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  input[type=checkbox]:checked + .sliding-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .header-text {
    padding: 0;
    width: 100%;
    -webkit-transform: translate(-30%, 0%);
            transform: translate(-30%, 0%);
  }
  .header-text h1 {
    font-size: 6.5rem;
    margin-top: 3%;
  }

  .header-flex p {
    font-size: 3rem;
  }

  .header-image img {
    display: none;
    width: 0%;
  }

  h3 {
    font-size: 3.5rem;
  }

  #new {
    padding: 60px 0;
  }
}
@media (max-width: 660px) and (max-width: 500) {
  h3 {
    font-size: 3rem;
  }

  p, li {
    font-size: 1.5rem;
  }
}
@media (max-width: 660px) and (max-width: 400px) {
  .header-text h1 {
    font-size: 4.5rem;
  }

  .header-flex p {
    font-size: 2rem;
  }
}
@media (width: 700px) {
  .contact-header {
    height: 30vh;
  }
  .contact-header h2 {
    padding: 60px 0;
    font-size: 5.5rem;
  }

  .main-flex {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  fieldset {
    padding-top: 50px;
    width: 97%;
    top: 0;
    left: 0;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .info-mail {
    margin-top: 0;
  }

  .contact-footer {
    height: auto;
  }
}
@media (max-width: 660px) {
  .contact-header {
    height: 30vh;
  }
  .contact-header h2 {
    padding: 60px 0;
    font-size: 5.5rem;
  }

  .main-flex {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  fieldset {
    padding-top: 50px;
    width: 97%;
    top: 0;
    left: 0;
  }
  fieldset input {
    width: 100%;
  }

  .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .info-mail {
    margin: 0 0 3px 0;
  }

  .contact-footer {
    height: auto;
  }
}
@media (max-width: 550px) {
  .contact-header h2 {
    font-size: 4.5rem;
  }

  .info-flex {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .contact-header h2 {
    font-size: 3.5rem;
    letter-spacing: 0.9rem;
  }
}
@media (max-width: 1200px) {
  .aside-text h4 {
    letter-spacing: 2.3px;
  }
}
@media (max-width: 900px) {
  .blog-header {
    height: 50vh;
  }

  .blogmain-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-flex {
    width: 100%;
  }

  article img {
    top: -66px;
  }

  .blog-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: initial;
  }
  .blog-aside img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 700px) {
  .blog-header {
    height: 39vh;
  }

  article h3 {
    padding-top: 380px;
  }

  article img {
    width: 71%;
    top: 0px;
    right: 113px;
  }

  .comment-flex p {
    line-height: 29px;
    letter-spacing: 1px;
  }

  .comment-flex li img {
    margin-right: 40px;
    width: 100%;
  }
}
@media (max-width: 660px) {
  input {
    width: 100%;
  }
}
@media (max-width: 550px) {
  article h3 {
    padding-top: 260px;
  }

  .blog-aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-aside img {
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 30px;
  }

  .aside-text {
    margin-left: -20px;
    margin-left: 15px;
  }
}
@media (max-width: 450px) {
  article h3 {
    padding-top: 150px;
    line-height: 2.8rem;
  }

  article img {
    display: none;
  }

  .comment-flex li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-flex li img {
    width: 25%;
    height: auto;
  }
}